@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Rubik;
}
html {
  font-size: 100%;
}
.btn {
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  border: 0;
}
.btn-primary {
  color: var(--btn-primary-color);
  background: var(--btn-primary-background);
  width: 177px;
  height: 53px;
}

:root {
  --btn-primary-background: #ff3f3f;
  --btn-primary-color: #fff;
  --accent-color: #1bacb0;
  --label-color: #eb4343;
}

body {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(96, 209, 243, 0.1),
    rgba(255, 255, 255, 0.8)
  );
}

section {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  position: relative;
  margin: auto;
  margin-top: 1rem;
  gap: 2rem;
  position: relative;
  .top {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 0rem;
    .logo {
      margin-right: auto;
      font-size: 1.8rem;
    }
    .search-bar {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid black;
      gap: 0.4rem;
      input {
        outline: none;
        border: 0;
        font-weight: 600;
        font-size: 1rem;
        background: none;
      }
      i {
        font-size: 0.9rem;
      }
    }
    .email,
    .phone {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.4rem;
      font-weight: 600;
      i {
        color: black;
      }
    }
  }
  nav {
    width: 100%;
    background: #fff;
    padding: 0.4rem 1rem;
    border-radius: 8px;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      li {
        list-style-type: none;
        cursor: pointer;
        a {
          text-decoration: none;
          color: #000;
        }
      }
      .language {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 0.4rem;
      }
      button {
        color: var(--btn-primary-color);
        background: var(--btn-primary-background);
        font-size: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
        //padding: 0.4rem 1rem;
        border: 0;
        border-radius: 8px;
        width: 177px;
        height: 53px;
        cursor: pointer;
        margin-left: -1.5rem;
        i {
          font-size: 0.9rem;
        }
      }
    }
  }
}

.hero {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
  .left {
    h1 {
      font-family: 'Barlow ';
      font-size: 5.625rem;
      max-width: 683px;
      background: url('./shape.png');
      background-repeat: no-repeat;
      background-position: center left;
    }
    .desc {
      font-size: 1.5rem;
      max-width: 520px;
      margin-top: 2rem;
    }
    .buttons {
      margin-top: 75px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      margin-left: 2rem;
      .btn {
        font-size: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        cursor: pointer;
        border: 0;
      }
      .btn-primary {
        color: var(--btn-primary-color);
        background: var(--btn-primary-background);
        width: 177px;
        height: 53px;
      }
      .btn-secondary {
        border: 2px solid #000;
        width: 264px;
        height: 53px;
        background: none;
      }
    }
    .rating {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 2.5rem;
      gap: 2rem;
      position: relative;
      height: 100px;
      margin-top: 1.5rem;
      .number {
        span {
          font-family: 'Barlow ';
          font-size: 3rem;
          font-weight: 800;
        }
      }
      .right {
        position: relative;
        display: flex;
        flex-direction: column;

        p {
          font-size: 0.9rem;
          color: darkgray;
        }
        .stars {
          i {
            color: goldenrod;
          }
        }
      }
    }
  }
  .right {
    .image-container {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}
@media only screen and(max-width: 1050px) {
  .image-container {
    display: none;
  }
}
@media only screen and(max-width: 1000px) {
  nav {
    display: none;
  }
}

.second-section {
  background: #fff3d4;
  padding: 1rem;
}
.features {
  width: 100%;
  max-width: 1170px;
  height: 215px;
  margin: auto;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background: #fff;
  .feature {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    i {
      font-size: 3rem;
    }
    .pink {
      color: #ff8282;
    }
    .green {
      color: #289fa3;
    }
    .orange {
      color: #fabd6e;
    }
    .content {
      h4 {
        font-size: 0.875rem;
        color: darkgray;
        margin-bottom: 1rem;
      }
      h3 {
        max-width: 230px;
        font-weight: 400;
        font-size: 1.5rem;
      }
    }
  }
}

.second-section {
  .hero-text {
    border: 1px solid transparent;
    text-align: center;
    h2 {
      margin-top: 130px + 125px;
      font-family: 'Barlow ';
      font-weight: bold;
      font-size: 3.875rem;
      background: url('./shape.png');
      background-repeat: no-repeat;
      background-position: 53% -20%;
      background-size: 17%;
    }
    p {
      margin-top: 19px;
      font-size: 1.5rem;
    }
  }
  .card-container {
    margin-top: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 52px;
    .card {
      width: 100%;
      max-width: 1171px;
      min-height: 420px;
      height: 100%;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 120px;
      border-radius: 10px;
      padding: 50px 50px;
      .img-container {
        width: 324px;
        min-width: 250px;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
      .content {
        align-self: flex-start;
        max-width: 587px;
        p:nth-child(1) {
          text-transform: uppercase;
          color: var(--label-color);
          font-size: 1.1rem;
        }
        h3 {
          margin-top: 17px;
          font-family: 'Barlow ';
          font-size: 2.625rem;
        }
        p:nth-child(3) {
          margin-top: 32px;
          font-size: 1.5rem;
        }
        i {
          margin-top: 25px;
          transform: scale(1.4);
        }
      }
    }
  }
  .end-text {
    margin-top: 133px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
      font-family: 'Barlow ';
      font-size: 3rem;
      text-align: center;
    }
    .btn {
      margin-top: 97px;
      margin-bottom: 173px;
    }
  }
}

@media only screen and (max-width: 824px) {
  .card-container {
    .card {
      flex-direction: column;
    }
  }
}

@media only screen and (max-width: 1450px) {
  html {
    font-size: 85%;
  }
}

.third-section {
  margin-top: 6.25rem;
  .content {
    margin: auto;
    width: 80%;
  }
  .links-container {
    padding: 1em;
    display: flex;
    justify-content: space-between;

    h2:not(.logo) {
      font-size: 1.75rem;
      font-family: 'Barlow';
    }
    h2 {
      margin-bottom: 2rem;
    }
    ul {
      font-size: 1.125rem;
      list-style: none;
      li:not(li:last-child) {
        margin-bottom: 1rem;
      }
      li {
        color: #343434;
      }
    }
    .address {
      p,
      .socials {
        margin-bottom: 2.25em;
      }
      h3 {
        margin-bottom: 0.5em;
        color: #ccc;
      }
      .form {
        display: flex;
        gap: 0.75rem;
        input {
          padding: 0.4em 1em;
          border-radius: 0.625rem;
          font-size: 1rem;
          outline: none;
        }
      }
    }
  }
  .copy {
    margin-top: 6.875em;
    text-align: center;
    color: #343434;
  }
}

@media only screen and (max-width: 1014px) {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .links-container {
      max-width: 350px;
      flex-direction: column;
      h2:not(h2:last-child) {
        margin-top: 1em;
      }
    }
  }
}
